* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 227, 227);

}

header{
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
main{
    
    width: 80%;
    margin: 0 auto;
}


.Square-h4{
    display: inline-block;
    border-radius: 20%;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.bg-blue{
    background-color: rgb(133, 190, 223);
}

.bg-white{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 174, 174);
}
.mg-200px{
    margin-left: 200px;
}
.color-grey{
    color: rgb(216, 210, 210);
    margin-top: 8px;
}

h3{
    font-weight: lighter;
}
h2{
    color: rgb(82, 79, 79);
}

.check-green{
    color: rgb(34, 211, 34);
}
.false-red{
    color: rgb(218, 30, 30);
}