* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 227, 227);

}

header{
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


.Square-h4{
    display: inline-block;
    border-radius: 10%;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.bg-blue{
    background-color: rgb(133, 190, 223);
}

.bg-white{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 174, 174);
}
.mg-200px{
    margin-left: 200px;
}
.color-grey{
    color: rgb(216, 210, 210);
    margin-top: 8px;
}

h3{
    font-weight: lighter;
}
h2{
    color: rgb(54, 52, 52);
}

.check-green{
    color: rgb(34, 211, 34);
}
.false-red{
    color: rgb(218, 30, 30);
}
.bg-white2{
    background-color: rgb(255, 255, 255);
}
main{
    width: 80%;
    margin-top: 40px;
    margin-left: 200px;
    
}

.editorial{
    display: inline-block;
    border-radius: 10%;
    margin-left: 10px;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 4px;
    background-color: rgb(58, 152, 196);
    font-size: xx-small;
    color: rgb(255, 255, 255);
}

#purplesquare{
    background-color: rgb(177, 76, 177);

}


#greensquare{
    background-color: rgb(123, 209, 159);
}

#orangesquare{
    background-color: rgb(238, 159, 12);
}

#green2square{
    background-color: rgb(15, 224, 15);
}

#pinksquare{
    background-color: rgb(218, 59, 106);
}



